* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    overflow: none; /* Verhindert das Scrollen der Seite */
    justify-content: center;
    align-items: center;

}


/*Animation vom Hintergrund*/
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("https://images.unsplash.com/photo-1505064750047-f810f700e6d3?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover; /* Damit das Bild den gesamten Bildschirm ausfüllt */
    background-repeat: repeat; /* "Motion Tile"-Effekt: Das Bild wird wiederholt, um den gesamten Bildschirm auszufüllen */
    filter: blur(10px); /* Hier wird der Hintergrund um 5 Pixel verwischt */
    backdrop-filter: blur(5px); /* Falls vorhanden, verwendet backdrop-filter (für neuere Browser) */
    animation: slideBackground 20s linear 10px;
    animation: slideBackground 200s linear 10px; /* Ändere die Geschwindigkeit und Dauer nach Bedarf */
}

@keyframes slideBackground {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(+100%);
    }
}

/*Container = alle Elemente*/
.container {
    padding: 90px 90px; /* Padding wird angewendet */

}


.current-info{
    justify-content: space-between;

    background: rgba(24,24,27,0.1);
    padding: 25px;
    border-radius: 17px;


}

.location-container{
    text-align: center;
}


.location-container .country-city{
    font-size: 20px;
    font-weight: 600;
}

.weather-items{
    text-align: center;

}

.weather-items .Temperatur{
    font-size: 60px;
    font-weight: 150;
}

/* °-Symbol in orange färben */
.degree {
    color:rgb(247, 108, 27);
}

.date-container{
    display: flex;
    justify-content: space-between;

}

.date {
    margin-left: 10px;
}


.future-forecast {    
    margin: 20px 90px; /* Füge einen Außenabstand hinzu, um den Rand nicht zu berühren */
    padding: 25px; /* Padding wird angewendet */

    overflow: auto;

    justify-content: center;
    background: rgba(24,24,27,0.1);
    padding: 25px;
    border-radius: 15px;
    display: flex;
}

.future-forecast .weather-forecast-item{
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    text-align: center;

}

.future-forecast .w-icon {
    align-items: center;
    justify-content: center;

}

.future-forecast .day{
    display: flex;
    text-align: center;
    
    align-items: center;
    justify-content: center;
    background: rgba(24,24,27,0.1);
    padding: 6px;
    border-radius: 15px;
    margin-bottom: 8px;
}

.future-forecast .temp {
    margin-top: 10px;
}

.future-forecast .date {
    display: flex;
    font-weight: 400;
    color:rgb(247, 108, 27);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}

/*Resizing für Smartphones*/

@media only screen and (max-width:730px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow: scroll;
        padding: 70px;
        margin: 5px 40px;
    }
}